body {
    background: linear-gradient(red,rgba(106, 2, 2, 0.921));
    background-attachment: fixed;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    font-size: 8em;
    text-align: center;
    

}

#box1 {
    background-color: rgb(178, 44, 44);
    background-image: url('Cute1.webp');
    background-size: cover;
    background-position: center;
}
#box2 {
    background-color: rgb(144, 25, 25);
    background-image: url('cute2.jpg');
    background-size: cover;
    background-position: center;
}
#box3 {
    background-color: rgb(145, 3, 3);
    background-image: url('cute3.avif');
    background-size: cover;
    background-position: center;
}
#box4 {
    background-color: rgb(113, 1, 1);
    background-image: url('cute4.jpeg');
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    gap: 20px;
}